<div class="em-atendimento">
  {% extends 'template.html' %}
  {% block subtitulo %}
  - Atendimento
  {% endblock %}
  {% block content %}

  <h1>EM ATENDIMENTO</h1>
  <hr>
  <p>Tipo de atendimento: <br>
    <span class="spanAtend"><b>{{ senha.tipo_atendimento.nome }}</b></span>
  </p>
  <p>Senha:<br>
    <span class="spanAtend"> <b>{{ senha.numero_senha }}</b></span>
  </p>
  <!---  <p>Nome do cliente: {{ senha.nome_cliente }}</p> -->
  <p>Data do atendimento:<br>
    <span class="spanData"> <b> {{ senha.data_inicio }}</b></span>
  </p>
  <a href="/finalizar-atendimento/{{senha.id}}/{{prefixo}}">Finalizar atendimento</a>

  {% endblock %}
</div>