<div class="gerar-senha">
{% extends 'template.html' %}
{% block subtitulo %}
- Gerar Senha
{% endblock %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <!-- <label for="nome">Nome:</label>
        <input type="text" id="nome_cliente" name="nome_cliente" required> -->
        <!-- <br> --> 
        <label for="tipo_atendimento">Tipo de atendimento:</label>
        {% for tipo in tipos_atendimento %}
        <input type="radio" name="tipo_atendimento" value="{{tipo.id}}" id="tipo_atendimento" class="{{tipo.nome}}">
        <label for="{{tipo.id}}">{{tipo.nome}}</label><br>  
        {% endfor %}
        <!-- <select id="tipo_atendimento" name="tipo_atendimento" required>
          {% for tipo in tipos_atendimento %}
          <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
          {% endfor %}
        </select>  -->
        <!-- <table>
          {{form.as_table}}  
        </table> -->
        <br>
        <input type="submit" value="Gerar senha">
    </form>

    <div class="pessoas-fila">
      <p>Numero de pessoas na fila comum:</p>
      <p id="quantFila"></p>
      <p>Numero de pessoas na fila prefencial:</p>
      <p id="quantPref"></p>
      <p>Numero de pessoas na fila processos:</p>
      <p id="quantProc"></p>
    </div>

    <script src="/static/js/gerarSenha.js"></script>
{% endblock %}
</div>