<div class="gerar-senha">
{% extends 'template.html' %}
{% block subtitulo %}
- Gerar Senha
{% endblock %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <!-- <label for="nome">Nome:</label>
        <input type="text" id="nome_cliente" name="nome_cliente" required> -->
        <!-- <br> -->
        <label for="tipo_atendimento">Tipo de atendimento:</label>
        <select id="tipo_atendimento" name="tipo_atendimento" required>
          {% for tipo in tipos_atendimento %}
          <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
          {% endfor %}
        </select> 
        <!-- <table>
          {{form.as_table}}  
        </table> -->
        <br>
        <input type="submit" value="Gerar senha">
    </form>

    <div class="pessoas-fila">
      <p>Numero de pessoas na fila:</p>
      <p id="quantFila"></p>
    </div>

    <script src="/static/js/gerarSenha.js"></script>
{% endblock %}
</div>