<div class="proxima-senha">
  {% extends 'template.html' %}
  {% block subtitulo %}
  - Atendimento
  {% endblock %}
  {% block content %}

  <h1>Em espera</h1>
  <hr>

  <li>
    <em>
      Aguarde o botão de "Chamar Próximo da Fila" ficar verde.
    </em>
  </li>
  <li>
    <em>
      Clique no botão verde para chamar um cliente.
    </em>
  </li>
  <li>
    <em>
      O chamado funcionará se, e somente se, houver algum cliente esperando em quaisquer fila.
    </em>
    
  </li>
  <li id="padding-li">
    <em>
      Ao terminar o atendimento, finalize o chamado na tela de atendimento.
    </em>
  </li>

</div>
<div class="pessoas-fila">
  {% if atendente.registrador %}
  <h2>Lista de Pessoas na Fila:</h2>
  <hr>
  <p>Na fila para Registrar:</p>
  <p id="quantReg"></p>
  {% else %}
  <h2>Lista de Pessoas na Fila:</h2>
  <hr>
  {% if atendente.tipo_atendimento.nome == 'Geral' %}
  <p id="Paragrafo-G">Fila Geral: <span id="quantFila"></span></p>
  {% else %}
  <p id="Paragrafo-P">Fila Alvará: <span id="quantPref"></span></p>
  {% endif %}
  {% endif %}
  {% if senha %}
  <a href="/em-atendimento/{{senha.id}}/{{prefixo}}">
    Atender
  </a>
  {% else %}
  <a id="btnCall" href="/chamar-proxima-senha/{{prefixo}}">
    Chamar Próximo da Fila
  </a>
  {% endif %}

<script src="/static/js/atendente.js"></script>

{% endblock %}