<div class="proxima-senha">
{% extends 'template.html' %}
{% block subtitulo %}
- Atendimento
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="cabine">Defina a sua cabine</label>
    <input type="text" name="cabine" value="{{ cabine }}">
    <input type="submit" value="Definir cabine">
</form>
  {% if senha %}
  <h1>Chamando</h1>
  {% else %}
  <h1>Em espera</h1>
  {% endif %}
  <p>Tipo de atendimento: {{ senha.tipo_atendimento.nome }}</p>
  <p>Senha: {{ senha.numero_senha }}</p>
  <p>Nome do cliente: {{ senha.nome_cliente }}</p>
  <p>Data do atendimento: {{ senha.data_atendimento }}</p>
  
  {% if senha %}
  <a href="/em-atendimento/{{senha.id}}/{{prefixo}}">
    Em atendimento
  </a>
  {% else %}
  <a href="/chamar-proxima-senha/{{prefixo}}">
    Chamar próximo da fila
  </a>
  {% endif %}
  
  <div>
    <table>
      <thead>
        <tr>
          <th>Senha</th>
          <th>Nome do cliente</th>          
          <!-- <th>Data e hora da chamada</th> -->
        </tr>
      </thead>
      <tbody id="tbody">        
      </tbody>
    </table>
  </div>
<script src="/static/js/atendente.js"></script>
  
{% endblock %}
</div>