<div class="proxima-senha">
{% extends 'template.html' %}
{% block subtitulo %}
- Atendimento
{% endblock %}
{% block content %}

  {% if senha %}
  <h1>Chamando</h1>
  {% else %}
  <h1>Em espera</h1>
  {% endif %}
  <p>Tipo de atendimento: {{ senha.tipo_atendimento.nome }}</p>
  <p>Senha: {{ senha.numero_senha }}</p>
  <p>Nome do cliente: {{ senha.nome_cliente }}</p>
  <p>Data do atendimento: {{ senha.data_atendimento }}</p>
  
  {% if senha %}
  <a href="/em-atendimento/{{senha.id}}/{{prefixo}}">
    Atender
  </a>
  {% else %}
  <a href="/chamar-proxima-senha/{{prefixo}}">
    Chamar próximo da fila
  </a>
  {% endif %}
  
  <!-- <div>
    <table>
      <thead>
        <tr>
          <th>Senha</th>
          <th>Tipo de Atendimento</th>          
           <th>Data e hora da chamada</th>
        </tr>
      </thead>
      <tbody id="tbody">        
      </tbody>
    </table>
  </div> -->

  <div class="pessoas-fila">
    <p>Geral:</p>
    <p id="quantFila"></p>
    <p>Prefencial:</p>
    <p id="quantPref"></p>
    <p>Processos:</p>
    <p id="quantProc"></p>
  </div> 

<script src="/static/js/atendente.js"></script>
  
{% endblock %}
</div>