<div class="senhas-chamadas">
{% extends 'template.html' %}
{% block subtitulo %}
{% endblock %}
{% block content %}
<div class="header-display"> <img src="/static/img/logo branco.png"> </div>
<div id="minha-div">
  <table class="ultima-senha" id="tabela-senhas">
    <thead>
      <tr>
        <!-- <th class="senha">Senha</th> -->
        <th class="nome">Senha</th>
        <th class="cabine">Cabine</th>
        <!-- <th>Data e hora da chamada</th> -->
      </tr>
    </thead>
    <tbody id="tbody">     
    </tbody>
  </table>
</div>

<video muted loop autoplay id="videoDisplay">
  <source src="/static/video/video_display.mp4" type="video/mp4">
</video>

<audio src="/static/video/toque.mp3" id="toque"></audio>

<div class="senha-anterior">
  <p class="titulo-anterior"> Anteriores </p>
  <table>
    <thead>

    </thead>
    <tbody id="tbodyanteriores">
    </tbody>
  </table>
</div>



<script src="/static/js/chamado.js"></script>
{% endblock %} 
</div>