{% extends 'template.html' %}
{% block subtitulo %}
{% endblock %}
{% block content %}
<div id="minha-div">
  <table>
    <thead>
      <tr>
        <th>Senha</th>
        <th>Nome do cliente</th>
        <th>Cabine</th>
        <!-- <th>Data e hora da chamada</th> -->
      </tr>
    </thead>
    <tbody id="tbody">
      {% for senha in senhas %}
      <tr>
        <td>{{ senha.tipo_atendimento.prefixo }}{{senha.numero_senha}}</td>
        <td>{{ senha.nome_cliente }}</td>
        <td>{{ senha.cabine }}</td>
        <!-- <td>{{ senha.data_chamada }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <img src="/static/images/pinguin.png" alt="">
</div>
<script src="/static/js/chamado.js"></script>
{% endblock %}