<div class="senhas-chamadas">
{% extends 'template.html' %}
{% block subtitulo %}
{% endblock %}
{% block content %}
<div id="minha-div">
  <table class="ultima-senha">
    <thead>
      <tr>
        <th class="senha">Senha</th>
        <th class="nome">Nome</th>
        <th class="cabine">Cabine</th>
        <!-- <th>Data e hora da chamada</th> -->
      </tr>
    </thead>
    <tbody id="tbody">     
    </tbody>
  </table>
</div>
<div class="senha-anterior">
  <p class="titulo-anterior"> Anteriores </p>
  <table>
    <thead>

    </thead>
    <tbody id="tbodyanteriores">
    </tbody>
  </table>
</div>

<video controls>
  <source src="/static/video/" type="video/mp4">
</video>

<script src="/static/js/chamado.js"></script>
{% endblock %} 
</div>