body {background: #0D578E;color: #fff;}

/* Gerar Senha */
.gerar-senha .pessoas-fila p {
    display: flex;
    place-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
}

.gerar-senha {
    font-size: 50px;
    display: table;
}

.gerar-senha p#quantFila, p#quantPref, p#quantProc {align-self: end;position: relative;padding-right: 100px;}

.gerar-senha form {display: inline-flex;flex-direction: row;align-items: center;width: 100%;width: -webkit-fill-available;}

.gerar-senha form label {
    background: #fff;
    color: #0d578e;
    padding: 25px;
    border: 5px solid #0d578e;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto 10px;
}
.gerar-senha form input:checked +   label{
    background: #0d578e;
    color: #ffffff;
}

.gerar-senha input[type="submit"] {
    position: absolute;
    top: 211px;
    width: 100%;
    height: 80px;
    background: #3875a3;
    color: #fff;
    font-size: 33px;
}

.gerar-senha label[for="tipo_atendimento"] {
    display: none;
}



.gerar-senha form > input {
    display: none;
}

.gerar-senha input[type="submit"] {
    display: flex;
    justify-content: space-evenly;
}



.gerar-senha p.pessoas-frente {position: absolute;bottom: 47px;}

.gerar-senha .pessoas-fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 36px;
    top: 163px;
    position: relative;
}

/* display */
.senhas-chamadas div#minha-div {
    float: left;
    width: 30%;
    height: 55%;
    background: #fff;
    border-radius: 0 30px 30px 0;
}

.senhas-chamadas video#videoDisplay {
    float: right;
    width: 68%;
}

.senhas-chamadas table.ultima-senha {
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}


.senhas-chamadas table.ultima-senha th {
    padding-left: 15px;
}
 

.senhas-chamadas table.ultima-senha tbody#tbody {
    color: red;
}