html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background: #0D578E;
    color: #fff;
}

hr{
    margin-top: 0px;
}
/* Gerar Senha */

.gerar-senha {
    font-size: 50px;
    display: table;
    background: #fff;
    color: #000;
    padding: 40px;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

label[for="2"]::after {
    content: url('/static/img/preferencial-img_resized_resized.png');
    width: 0px;
    height: auto;
    display: inline;
    padding-left: 15px;
}


.gerar-senha p#quantFila,
p#quantPref,
p#quantProc {
    align-self: end;
    position: relative;
    padding-right: 100px;
}

.gerar-senha form {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.gerar-senha form label {
    background: #fff;
    color: #0d578e;
    padding: 25px;
    border: 5px solid #0d578e;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto 10px;
}

.gerar-senha form input:checked+label {
    background: #0d578e;
    color: #ffffff;
}



.gerar-senha input[type="submit"] {
    /* position: absolute; */
    width: 100%;
    height: 80px;
    background-color: rgba(245, 245, 245, 0.959);
    color: #fff;
    font-size: 33px;
    border: unset;
    font-size: 50px;
}

.gerar-senha input:focus {
    border-color: #0099ff;
    transition: border-color 0.3s ease-in-out;
}

.gerar-senha label[for="tipo_atendimento"] {
    display: none;
}

.gerar-senha form>input {
    display: none;
}

.gerar-senha input[type="submit"] {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border-radius: 45px;
    margin-bottom: -86px;
    height: 110px;
}

.gerar-senha p#quantFila,
p#quantPref,
p#quantProc {
    align-self: end;
    position: relative;
    padding-right: 45px;
    padding-left: 20px;
}

.gerar-senha p.pessoas-frente {
    padding-right: 30px;
}

/* display */
.senhas-chamadas div#minha-div {
    float: left;
    width: 60%;
    height: 100%;
    background: #fff;
    border-radius: 0 30px 30px 0;
    z-index: 4;
    position: absolute;
    top: 15%;
}

.senhas-chamadas video#videoDisplay {
    float: right;
    width: 35%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.senhas-chamadas table.ultima-senha {
    font-size: 60px;
    text-align: center;
    width: 100%;
    color: #000;
}


.senhas-chamadas table.ultima-senha th {
    padding-left: 15px;
}


.senhas-chamadas table.ultima-senha tbody#tbody {
    color: #f88a19;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
}

.senhas-chamadas .header-display {
    height: 125px;
    display: flex;
    padding-left: 15%;
    padding-bottom: 1%;
    float: left;
}

.senhas-chamadas tbody tr:nth-child(odd) {
    background-color: #bcd2f8;
}

.senhas-chamadas tr:nth-child(even) {
    background-color: #e4eeff;
}

.senhas-chamadas tbody#tbody {
    font-size: 75px;
}

.senhas-chamadas tbody tr:nth-child(-n+2) {
    color: #f82219;
    font-size: 150px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}



/* proxima senha */
.proxima-senha {
    background: #fff;
    color: #000;
    font-size: 40px;
    width: fit-content;
    padding: 2% 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

.proxima-senha h1 {
    margin: 15px;
    margin-bottom: 0px;
}

.proxima-senha p {
    margin-top: 35px;
    margin-bottom: 35px;
}

.proxima-senha a {
    background: #cebd27;
    color: #fff;
    padding: 5% 1%;
    border-radius: 45px;
    text-decoration-line: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.proxima-senha #btnCall[href="/chamar-proxima-senha/"]:hover{
    text-decoration: underline; 
} 

.proxima-senha #btnCall[href="/chamar-proxima-senha/"] {
    background: gray;
}

.proxima-senha div table {
    margin-top: 20px;
    color: #000;
    display: grid;
    justify-content: center;
    font-size: 30px;
}

.peopleFila p {
    margin-top: 10px;
}

.proxima-senha div table th {
    padding: 0 30px;
}



.proxima-senha tbody#tbody tr {
    display: flex;
    justify-content: space-around;
}

.proxima-senha thead {
    /* display: flex; */
    justify-content: space-aroun;
}

.proxima-senha thead tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.qtdFila {
    margin-top: -30px;
}

.proxima-senha .pessoas-fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 35px;
    justify-content: center;
    margin-top: -60px;
    height: 80px;
}

#paragrafo-G {
    text-align: right;
}

#paragrafo-P {
    text-align: center;
}

#paragrafo-C {
    text-align: left;
}

#quantFila {
    align-self: end;
    position: relative;
    padding-right: 45px;
    padding-left: 20px;
}


/* Em atendimento */
.em-atendimento {
    background: #fff;
    color: #000;
    font-size: 40px;
    width: fit-content;
    padding: 2% 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

.em-atendimento h1 {
    margin: 15px;
    margin-bottom: 0px;
}

.em-atendimento p {
    text-align: center;
}

.em-atendimento a:hover{
    text-decoration: underline;
    background: #aa1414;
}

.em-atendimento .spanAtend {
    font-size: 65px;
    color: rgba(26, 185, 26, 0.959);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.em-atendimento a {
    background: #ac3b3b;
    color: #fff;
    padding: 5% 1%;
    border-radius: 45px;
    text-decoration-line: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.em-atendimento div table {
    margin-top: 40px;
    color: #000;
    display: grid;
    justify-content: center;
    font-size: 30px;
}

.em-atendimento div table th {
    padding: 0 30px;
}

/* fix largura ultimas senhas */
.senha-anterior {
    display: inline-flex;
    align-items: center;
    bottom: 24px;
    flex-direction: row;
    width: 48%;
    font-size: 40px;
    justify-content: center;
    font-family: sans-serif;
    position: absolute;
    right: 0;
}

thead#tHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 29px;
}

tbody#tbodyanteriores {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    font-size: 62px;
}

thead#tHeader th {
    margin: 0 10px;
}

tbody#tbodyanteriores tr {
    margin: 0 10px;
}

tbody#tbodyanteriores tr {
    background: unset;
    color: red;
}

/* pagina de erro */

div.caixa-erro {
    background: #fff;
    color: #000;
    font-size: 40px;
    width: fit-content;
    padding: 2% 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

a.botao-voltar {
    width: 100%;
    height: 80px;
    background: #57B956;
    color: #fff;
    font-size: 33px;
    border: unset;
    font-size: 50px;
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;
}

p#erro-titulo {
    color: red;
    text-align: center;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}